.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: start;
  justify-content: center;
  overflow-y: auto;
  padding: 2em;
}

.modal__container {
  background-color: var(--cor-card);
  border-radius: 15px;
  width: 70%;
  height: max-content;
}

.modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.modal__checkbox--container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

.modal__checkbox {
  background-color: var(--cor-btn);
  border-radius: 15px;
  padding: 0 0.5em;
}

.modal-textArea {
  max-width: 70%;
}
